# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
.venv/
env/
ENV/

# YOLO weights & runs
*.pt
*.onnx
models/
runs/

# Project-specific output & temp directories
output/
data/
.ipynb_checkpoints/

# Ignore large media
input/SampleVideo_LowQuality.mp4
input/video.mp4

# Google search cached files
input/cars and people near it*

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/


